# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# Node
node_modules/
dist/
coverage/

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

